html {
    font-family: system-ui, Roboto, Arial, sans-serif;
}

body {
    max-width: 800px;
    margin: auto;
    padding: 50px;
}

button {
    margin-top: 20px;
}

input[type="password"], input[type="text"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trap {
    border: black solid 1px;
    border-radius: 5px;
    padding: 10px;
}
